h1 {
  color: white;
}

body {
  align-items: flex-end;
  color: white;
  background-image: url('img/weights.jpg');
}

.list-container {
  color: white;
}

.list-container h1 {
  color: blue;
}

label {
  font-size: 1.3em;
}