h1 {
  color: white;
}

body {
  align-items: flex-end;
  color: white;
  background-image: url("img/img2.jpg")
}


.list-container {
  color: white;
}

.list-container h1 {
  color: blue;
}

label {
  font-size: 1.3em;
}

h2 {
  color: red;
  text-align: center;
}

.exercise-container {
  margin-top: 20px;
  margin-bottom: 100px;
}
